   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
   }
   
/* Barra lateral */

   .sidebar {
      position: fixed;
      background-color: rgb(197, 255, 110);
      top: 0;
      left: 0;
      width: 80px; 
      height: 100vh;
      overflow-x: hidden; 
      transition: width 0.3s ease; 
      z-index: 99;
   }

   .sidebar.expandida {
      width: 240px; 
   }

   .sidebar.expandida .logo-sidebar {
      width: 130px; 
      opacity: 1; 
   }

   .sidebar.expandida .texto {
      opacity: 1; 
      transition-delay: 0.1s; 
   }

/* Cabecalho da barra lateral*/
   .topo-sidebar {
      display: flex;
      align-items: center;
      justify-content: flex-end; 
      padding: 30px 25px; 
      position: relative;
   }

   .logo-sidebar {
    width: 0; 
    position: absolute;
    left: 40%;
    margin-top: 5%;
    transform: translateX(-50%);
    opacity: 0; 
    transition: all 0.3s ease; 
}

   .botao-menu {
      font-size: 30px;
      color: rgb(23, 36, 53);
      cursor: pointer; 
      margin-top: 15%;
   }

/* Navegacao da barra lateral*/
   .menu-lateral {
      display: flex;
      flex-direction: column; 
}

   .menu-lateral a {
      display: flex;
      align-items: center; 
      color: rgb(23, 36, 53);
      text-decoration: none;
      font-size: 20px;
      padding: 25px 25px;
      font-weight: bold;
      white-space: nowrap; 
   }

 
   .icone {
      font-size: 24px;
      min-width: 30px; 
      text-align: center;
   }

   .texto {
      margin-left: 15px;
      opacity: 0;
      transition: opacity 0.2s ease;
   }

   .flag{

      color: rgb(32, 189, 39);
   }

/* Main */
   .conteudo-principal { 
      padding: 20px 20px 20px 100px; 
      font-family: Arial, Helvetica, sans-serif;
   }